<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="source-auth-database"   value="YOUR AUTHENTICATION DATABASE FOR THE SOURCE DB"/>    
    <add key="source-server"          value="YOUR SOURCE SERVER:PORT"/>
    <add key="source-username"        value="YOUR SOURCE USERNAME"/>
    <add key="source-password"        value="YOUR SOURCE PASSWORD"/>
	
    <add key="target-auth-database"   value="YOUR AUTHENTICATION DATABASE FOR THE TARGET DB"/>
    <add key="target-server"          value="YOUR TARGET SERVER:PORT"/>
    <add key="target-username"        value="YOUR TARGET USERNAME"/>
    <add key="target-password"        value="YOUR TARGET PASSWORD"/>
	
    <add key="source-database"        value="SOURCE DATABASE TO BE COPIED"/>
    <add key="target-database"        value="SOURCE DATABASE TO BE COPIED"/>
    <add key="collections"            value="COLLECTIONS THAT YOU WANT TO COPY (EITHER A SINGLE NAME, A LIST OR A MASK USING * AS THE WILDCARD)"/>
    <add key="target-collection"      value="IN CASE YOU WANT TO COPY ONE COLLECTION TO ANOTHER ONE, THIS SHOULD HAVE THE NAME OF THE TARGET COLLECTION"/>
    <add key="insert-batch-size"      value="1000"/>

    <!-- Indexes Copying Logic -->
    <add key="copy-indexes"           value="true"/>  <!-- Should Copy Indexes from one collection to the other ? -->
    <add key="copy-indexes-before"    value="true"/>  <!-- Should Copy Indexes BEFORE the data ? This is prefered for large collections -->
    <add key="skip-count"             value="false"/> <!-- If False, it will COUNT the records of the source database to keep track of the progress when transfering data -->
    <add key="threads"                value="1"/>     <!-- Maximum number of threads used. Only one collection will be copied per thread -->
    <add key="skip-existing"          value="true"/>  <!-- Collections that already exist on the TARGET with the same name as the SOURCE will be skipped (not copied) -->
  </appSettings>
</configuration>
